@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin: 0;
    padding: 0;
}

.bck{
    background-image: url(wall.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    height: 100vh;
    z-index: 1;
}
.bnr_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    padding:50px 0;
    z-index: 5;
    font-family: 'Lobster', cursive;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 4px solid white;
    font-size: 50px;
    color: #fff;
}

nav{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color:rgba(0, 0,0, 0.4);
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    
}

nav ul{
    top: 50%;
    list-style-type: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    border-radius: 20px;
    text-decoration: none;
}


li a:hover{
    background-color: rgba(0, 0,0, 0.2);
}


.footer{
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgb(0,0,0);
    color: #fff;
    padding-top: 0;
}


h4{
    margin: 0;
    padding: 0;
    border-bottom:1px solid white ;
}

.footer_cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
}

.footer li{
    float: left;
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
}

.social a{
    text-decoration: none;
    color: #fff;
}

#facebook :hover{
    color: #0000e6;
}

#twitter :hover{
    color:  #80e5ff;
}

#linkedin :hover{
    color: #66b3ff;
}

#reddit :hover{
    color: #ff944d;
}

.footer_bttm{

    text-align: center;
}

p{
    margin: 0;
    padding: 20px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

h4{
    padding: 40px;
    font-family: 'sans-serifS';
    font-size: 20px;
    color: #fff;  
    text-align: center;
}

.footer_bttm span{
    text-transform: uppercase;
    opacity: 0.5;
}

